.list-view__item[data-v-782daed5]{flex:0 0 calc(50% - 12px);max-width:calc(50% - 12px);box-shadow:0px 0px 5px 5px rgba(34,60,80,0.13)}.list-view__item[data-v-782daed5]:nth-child(2n){margin-right:0px !important}@media (min-width: 768px){.list-view__item[data-v-782daed5]{flex-basis:calc(25% - 16px);margin-right:16px !important}.list-view__item[data-v-782daed5]:nth-child(2n){margin-right:16px !important}.list-view__item[data-v-782daed5]:nth-child(4n){margin-right:0px !important}}

[data-v-d4de3892] .card__img-wrapper{display:flex;justify-content:center;align-items:center;width:100%;max-width:150px;background-color:#f0f0f0;border-radius:50%;overflow:hidden}

.pagination__item[data-v-7312e5a6]{width:46px;height:46px;margin-left:-2px;padding:0;text-align:center;line-height:42px;font-size:14px;font-weight:600;text-decoration:none;cursor:pointer;color:#bfc1c6;background-color:#fff;border:2px solid #bfc1c6}.pagination__item--active[data-v-7312e5a6]{color:#000;background-color:#fff;border-color:#000}

.plug[data-v-03eeba0d]{width:100%;font-size:32px;text-align:center}

